html {
    background: url('bg.jpg') no-repeat center center fixed;
    background-size: cover;
}

body {
    background: none;
    height: 100%;
    
}

.container {
    text-align: center;
    width: 480px;
}

#logInForm {
    display: none;
}

.toggleForms {
    font-weight: bold;
    color: white;
}

#diary {
    width: 100%;
    height: 100%;
}

#homePageContainer {
    margin-top: 200px;
}

.container-fluid {
    height: 100%;
}
